.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout{
  background-color: rgb(255, 255, 255) !important;
}

.ant-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px !important;
  padding-right: 10px !important;

}

button.ant-btn.ant-btn-primary.login-btn{
  background-color: #402218;
  border: none;
  color: #D7B19D;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #C68B59;
}
button.ant-btn.ant-btn-primary.register-btn{
  background-color: #402218;
  border: none;
  color: #D7B19D;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #C68B59; 
}

h1, h2, h3, h4, h5, h6 {
  color: #402218 !important;
  font-weight: 500 !important;
}

.ant-modal-header {
  background: #BDD2B6 !important;
}

.ant-modal-title {
  color: #402218 !important;
}

.ant-btn-primary {
  background-color: #402218 !important;
  border: none !important;
  color: #D7B19D !important;
  border-radius: 5px !important;
}

.ant-modal-header {
  border-radius: 10px 10px 0 0 !important;
}

.ant-modal-content {
  border-radius: 10px !important;
}